@model Link;

<div class='editLink'>
    @* Title *@
    <div class="editLink__title">
        <span class='h2'>_launchPad.</span>
        <span class='h3'>administration</span>
        <a asp-controller="Login" asp-action="Logout"><input type="submit" value="Logout" class="btn btn-light"/></a>
        <span id="lblExpire" class="text-warning" style="margin-left:20px"></span>
    </div>

    <br>

    @* Header *@
        <div class="editLink__header">
        <h4  class="text-warning">Edit Link.</h4>
        <div style="margin-bottom:10px">Edit the link data below</div>
    </div>

    @* Form *@
    <form method="post">
        <div class="form-group">
            <input type="hidden" asp-for="@Model.id">

            <label>Category</label>
            <select id="links" asp-for="@Model.categoryID" name="categoryID" asp-items="ViewBag.SelectList" class="btn-secondary form-control"></select>
            <input type="hidden" asp-for="@Model.categoryID" value="@Model.categoryID"><br>

            <label>Label</label>
            <input type="text" asp-for="@Model.linkName" class="form-control" maxlength="100" /><br>
            <span asp-validation-for="@Model.linkName" class="text-danger"></span><br>

            <label>URL</label>
            <input type="text" asp-for="@Model.url" class="form-control" maxlength="100" /><br>
            <span asp-validation-for="@Model.url" class="text-danger"></span><br>

            <label for="pinner">Pinned</label><br>
            <input type="checkbox" asp-for="@Model.pinned" id="pinner"> Pin link to top <br>

            <br>

            <input type="submit" asp-controller="Admin" asp-action="EditLinkSubmit" class="btn btn-warning" value="Edit" />
            <a asp-controller="Admin" asp-action="Index"><input type="button" class="btn btn-warning" value="Cancel" /></a> 
        </div>
    </form>
</div>

@section scripts {
    <script>
        startAutoLogout();
    </script>
}