@model CategoryManager;

<div class="row mb-2">
        @foreach (var category in @Model.categories)
        {
            <div class="col">
                <div class='row mb-3'>
                    <h4>@category.name</h4>
                    <form method='post'>
                        <input type="hidden" name='name' value='@category.name'>
                        <input type="hidden" name='categoryID' value='@category.categoryID'>
                        <button type='submit' class='bi-plus-lg btn btn-outline-danger' asp-controller="Admin" asp-action="AddCategory">Plus</button>
                        <button type='submit' class='bi-pencil mr-1 btn btn-outline-danger' asp-controller="Admin" asp-action="EditCategory">Pencil</button>
                    </form>
                </div>
            @foreach (var link in @Model.links)
            {
                var dashes = false;
                if (category.categoryID == link.categoryID && link.pinned)
                {
                <div class='mb-2'>
                    <form method='post'>
                        <input type="hidden" name='id' value='@link.id'>
                        <input type="hidden" name='name' value='@link.name'>
                        <input type="hidden" name='url' value='@link.url'>
                        <input type="hidden" name='categoryID' value='@category.categoryID'>
                        <button type='submit' class='bi bi-pencil  btn btn-outline-danger' asp-controller="Admin" asp-action="EditLink">Pencil</button>
                        <button type='submit' class='bi-trash btn btn-outline-danger' asp-controller="Admin" asp-action="DeleteLink">Trash</button>
                        <img src='https://www.google.com/s2/favicons?domain_url=@link.url'> <a href='@link.url' target='_blank' rel="noopener noreferer "></a>
                    </form>
                </div>               
                dashes = true;     
                }
                if (dashes)
                {
                    <hr>
                }
                if (category.categoryID == link.categoryID && !link.pinned)
                {
                <div class='mb-3'>
                    <form method='post'>
                        <input type="hidden" name='id' value='@link.id'>
                        <input type="hidden" name='name' value='@link.name'>
                        <input type="hidden" name='url' value='@link.url'>
                        <input type="hidden" name='categoryID' value='@category.categoryID'>
                        <button type='submit' class='bi-pencil mr-1 btn btn-outline-danger' asp-controller="Admin" asp-action="EditCategory"></button>
                        <button type='submit' class='bi-trash btn btn-outline-danger' asp-controller="Admin" asp-action="DeleteLink"></button>
                    </form>
                </div>               
                }
            }

            </div>
        }
</div>